<h3>Please Log In:</h3>
<form method="POST" action="/login">
  <label for="username">Username:</label>
  <input id="username" type="text" name="username"><br>
  <label for="password">Password:</label>
  <input id="password" type="password" name="password">
  <input type="submit" value=" Log In ">
</form>
<br><br>
<div>      
<h3>Don't have an account?</h3>
<h4>Please sign up here:</h4><br>
  <a href="/signup">Sign Up</a></div>
