<h2>Sign Up below:</h2><br>
  <form method="POST" action="/signup">
    <label for="username">Username:</label>
    <input id="username" type="text" name="username" placeholder="username"><br><br>
    <label for="password">Password:</label>
    <input id="password" type="text" name="password" placeholder="password">
    <input type="submit" value=" Sign Up ">
  </form>
  
<br><br>
<div>
  <h3>Already have an account?</h3>
  <h4>Please sign in here:</h4><br>
    <a href="/login">Sign In</a>
</div>
  