<h1>Welcome, <%=@planner.username.capitalize%></h1><br>

<h3>All Events:</h3><br>
<%Event.all.each do |event|%>
  <li><strong>Event's Date: </strong><%=event.date%><a href="/events/<%= event.id %>"> Show More</a></li><br>
  
<%end%>
<br><br>
<a href="/planner_events">| See Your Events | </a>
<a href="/events/new">Create a New Event | </a>
<a href="/logout">Log Out</a>
