<h1>Create New Event:</h1><br>

<form action="/events" method="POST">
  <label>Date:</label>
  <input type="text" name="date" id="date"><br><br>
  
  <label>Host Name:</label>
  <input type="text" name="host_name" id="host_name"><br><br>
  
  <label>Budget:</label>
  <input type="text" name="budget" id="budget"><br><br>

    
  <input type="submit" value="Create">
</form>
