<h1>Create New Event:</h1>

<form action="/events" method="POST">
  <label>Date:</label>
  <input type="text" name="date" id="date"><br>
  
  <label>Host Name:</label>
  <input type="text" name="host_name" id="host_name"><br>
  
  <label>Budget:</label>
  <input type="text" name="budget" id="budget"><br>
    
  <input type="submit" value="Create">
</form>
