<h1>Create New Event:</h1><br>

<form action="/events" method="POST">
  <label>Date:</label>
  <input type="text" name="date" id="date"><br><br>
  
  <label>Host Name:</label>
  <input type="text" name="host_name" id="host_name"><br><br>
  
  <label>Budget:</label>
  <input type="text" name="budget" id="budget"><br><br>
    
  <label>Select a Category:</label>
  <% @category.each do |category| %>
  <input type="radio" name="event[category_id][]" id="<%=category.id %>" value="<%=category.id%>"><label><%=category.name %></label></input>
  <%end%>
  <%#<div><input type="radio" id="none" name="none">
  <label for="dewey">None or the above</label>
  </div>%>
  <br><br>
  <label><strong><h3>If none is selected, please create a new Category:</h3></strong></label><br>
  <label>Name:</label>
    <input type="text" name="category[name]"></input><br><br>

    
    
    
    
  <input type="submit" value="Create">
</form>
