<div class="container">
  <header><img src="images/I5kI2OU.png" alt="event planner's logo" title="Welcome to Event Planner!" class="img-responsive main-image" align="middle" width="950"></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Enjoy your event, we do the rest!</h2>

    <div>      
      <h3>Don't have an account?</h3>
      <h4>Please sign up here:</h4><br>
        <a href="/signup">Sign Up</a></div>

    <div class="sidebar">
      <h3>Alreay have an account?</h3>
      <h4>Please log in here:</h4><br>
        <a href="/login">Log In</a>
    </div>

  </div>
</div>
